/*!
 * blur css
 * component: animations
 * notes: defines the overall transitions and animations
 * durations: 100ms, 200ms (default), 500ms, 1s
**/

nav, nav > a, content, [blurred-on], content > view {
	/* increase performance */
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0,0,0);
	transform: translateZ(0);
}



@media not all and (hover: none) {
	nav > a {
		filter: blur(1px);
		cursor: pointer;
	}

	nav:hover > a, nav > a:active, nav > a:hover, nav > a:focus, nav > a[active] {
		filter: blur(0px);
	}

}

/*nav:hover + content {
	filter: blur(12px);
}*/

nav[opened] {
	background: rgba(255, 10, 80, .67) !important;
	box-shadow: 0 0 0 #fff !important;
}

content, nav {
	transition: margin-top 400ms, height 400ms, filter 400ms, background 800ms, box-shadow 400ms;
	transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
	/*transition-timing-function: cubic-bezier(0.000, 0.880, 0.345, 1.020); /* custom */
}


@media (min-width: 701px) { /* desktops/hi-dpi */

	view {
		transition: transform 500ms, filter 500ms, opacity 500ms, margin-top 500ms, margin 500ms;
		transition-timing-function: ease-out; /* custom */
	}
	
	view[phase-a] {
		transform: scale(1.2);
		/*filter: blur(5px);*/
		opacity: 0.5;
	}
	
	view[phase-b] {
		transform: scale(1);
		/*filter: blur(0px);*/
		opacity: 1;
	}
	
	view[phase-y], view[phase-z] {
		transform: scale(0.5);
		filter: blur(10px);
		opacity: 0.5;
	}
	
	view[phase-z] {
		margin-top: 50%;
		opacity: 0;
	}
	
}

@media (max-width: 700px) { /* mobiles / low-dpi */

	view {
		transition: transform 500ms, filter 500ms, opacity 500ms, margin-top 500ms, margin 500ms;
		transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
	}
	
	view[phase-a] {
		transform: scale(1.5);
		/*filter: blur(5px);*/
		opacity: 0.2;
	}
	
	view[phase-b] {
		transform: scale(1);
		/*filter: blur(0px);*/
		opacity: 1;
	}

	view[phase-y], view[phase-z] {
		transform: scale(0.8);
		filter: blur(10px);
		opacity: 0.5;
	}
	
	view[phase-z] {
		margin-top: 50%;
		opacity: 0;
	}

}

nav > a, [blurred-on] {
	transition: filter 200ms;
	-moz-transition: filter 200ms;
	-webkit-transition: filter 200ms;
	
}

[blur-duration^="100"] {
	transition: filter 100ms;
	-moz-transition: filter 100ms;
	-webkit-transition: filter 100ms;
}

[blur-duration^="200"] {
	transition: filter 200ms;
	-moz-transition: filter 200ms;
	-webkit-transition: filter 200ms;
}

[blur-duration^="500"] {
	transition: filter 500ms;
	-moz-transition: filter 500ms;
	-webkit-transition: filter 500ms;
}

[blur-duration="1"], [blur-duration="1s"] {
	transition: filter 1s;
	-moz-transition: filter 1s;
	-webkit-transition: filter 1s;
}

[blurred-on="hover"]:hover,
[blurred-on="active"]:active,
[blurred-on="focus"]:focus,
[blurred-on="click"][clicked],
[blurred-on="tap"][tapped] {
	filter: blur(8px);
	-moz-filter: blur(8px);
	-webkit-filter: blur(8px);
}